body {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI";
    font-size: 14px;
    background: #f9f9f9;
}

.btn-blue {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4678d2;
    cursor: pointer;
    border: transparent 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px transparent;
}

.btn-blue:hover {
    color: #fff;
    border: #335a9f 1px solid;
    background: #4678d2;
    box-shadow: 0 0 10px rgba(70, 120, 210, 0.3);
}

.content {
    padding: 0 12px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.content > div {
    width: 100%;
    max-width: 1024px;
}

.top-line-box {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #d9d9d9;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
    background: #fff;
}

.top-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-line .logo {}

.top-line .search {
    position: relative;
    width: 320px;
    height: 38px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
}

.top-line .search .field {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 3px 16px 3px 36px;
    outline: none;
    font-size: 14px;
    color: #444;
    border: 0;
    border-radius: 8px;
    background: #eee;
}

.top-line .search .button {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.top-line .menu {
    display: flex;
}

.top-line .menu .item {
    width: 22px;
    height: 22px;
    margin: 0 8px;
    cursor: pointer;
}

.top-line .menu .item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding-bottom: 60px;
}

.main .wrapper {
    width: 100%;
    max-width: 820px;
    padding: 0 60px !important;
    display: flex;
    justify-content: space-between;
}

.main .posts {
    width: 440px;
    padding-top: 80px;
}

.main .posts .post {
    margin-top: 15px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
}

.main .posts .post:first-child {
    margin-top: 0;
}

.main .posts .post .head {
    height: 52px;
    display: flex;
    align-items: center;
}

.main .posts .post .head .user-avatar {
    position: relative;
    width: 52px;
    height: 100%;
}

.main .posts .post .head .user-avatar img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 32px;
    height: 32px;
    display: block;
    border-radius: 50%;
}

.main .posts .post .head .user-name {
    flex-grow: 1;
    font-size: 16px;
}

.main .posts .post .head .actions {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .posts .post .body {
    padding-bottom: 10px;
}

.main .posts .post .body .media {
    width: 100%;
    height: 520px;
    background-position: center center;
    background-size: cover;
}

.main .posts .post .body .media img {
    width: 100%;
    display: block;
}

.main .posts .post .body .actions {
    padding: 12px 12px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
}

.main .posts .post .body .actions .left,
.main .posts .post .body .actions .right {
    display: flex;
}

.main .posts .post .body .actions .item {
    margin-left: 18px;
    cursor: pointer;
}

.main .posts .post .body .actions .item:first-child {
    margin-left: 0;
}

.main .posts .post .body .description {
    padding: 0 12px;
    font-size: 14px;
}

.main .posts .post .body .date {
    padding: 8px 12px 0;
    font-size: 10px;
    color: #888;
}

.main .posts .post .footer {
    padding: 4px 6px;
    display: flex;
    border-top: #dbdbdb 1px solid;
}

.main .posts .post .footer .smiles {
    position: relative;
    width: 42px;
    height: 42px;
}

.main .posts .post .footer .smiles .button {
    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 5;
}

.main .posts .post .footer .comment {
    flex-grow: 1;
    padding: 0 8px;
    box-sizing: border-box;
}

.main .posts .post .footer .comment textarea {
    width: 100%;
    height: 18px;
    padding: 12px 0 8px;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
}

.main .posts .post .footer .submit {
}

.main .posts .post .footer .submit .button {
    margin-top: 4px;
    padding: 6px 8px 8px;
}

.main .sidebar {
    position: relative;
    width: 320px;
    margin-left: 20px;
}

.main .sidebar .stick {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 80px;
}

.main .sidebar .profile {
    margin-top: 5px;
    display: flex;
    align-items: stretch;
}

.main .sidebar .profile .avatar {
    width: 56px;
    height: 56px;
}

.main .sidebar .profile .avatar .image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.main .sidebar .profile .description {
    padding: 4px 15px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;
}

.main .sidebar .profile .description .channel {
    font-weight: bold;
}

.main .sidebar .profile .description .name {
}

.main .sidebar .profile .actions {
    display: flex;
    align-items: center;
}

.main .sidebar .profile .actions .button {
    margin-top: 5px;
    padding: 6px 8px 8px;
}

.main .sidebar .suggest {
    margin-top: 20px;
}

.main .sidebar .suggest .title {
    font-weight: bold;
}

.main .sidebar .suggest .channels {
    margin-top: 8px;
}

.main .sidebar .suggest .channels .item {
    margin-top: 12px;
    display: flex;
}

.main .sidebar .suggest .channels .item:first-child {
    margin-top: 0;
}

.main .sidebar .suggest .channels .item .avatar {
    width: 36px;
    height: 36px;
}

.main .sidebar .suggest .channels .item .avatar .image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}

.main .sidebar .suggest .channels .item .description {
    padding: 0 10px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    line-height: 16px;
    font-size: 10px;
}

.main .sidebar .suggest .channels .item .description .channel {
}

.main .sidebar .suggest .channels .item .description .reason {
    color: #888888;
}

.main .sidebar .suggest .channels .item .actions {
    display: flex;
    align-items: center;
}

.main .sidebar .suggest .channels .item .actions .button {
    margin-top: 5px;
    padding: 6px 8px 8px;
}
